* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background: url(./images/background.jpg);
  --accent-yellow: #FFFF82;
  --accent-beige: #F5F7DC;
  --accent-green: #B5D99C;
  --color-dark: #202C39;
  --color-dark-2: #283845;
}