@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"),
       url("./fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2"),
       url("./fonts/poppins-medium-webfont.woff2") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("./fonts/poppins-bold-webfont.woff2") format("woff2"),
       url("./fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("./fonts/poppins-light-webfont.woff2") format("woff2"),
       url("./fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/poppins-mediumitalic-webfont.woff2") format("woff2"),
       url("./fonts/poppins-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/poppins-light-webfont.woff2") format("woff2"),
       url("./fonts/poppins-bold-webfont.woff") format("woff");
}

*, *::before, * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

:root {
  background: url(./images/background.jpg);
  --color-yellow: #FFFF82;
  --color-beige: #F2FEEE;
  --color-green: #B3D69A;
  --color-black: #202C39;
  --color-gunmetal: #283845;

  --weight-regular: 400;
  --weight-light: 300;
  --weight-medium: 500;
  --weight-bold: 700;

  --margin-under: 1.6em;
  --padding-default: 3.5rem;
}

.full-container {
  display: flex;
}

.flavor {
  font-weight: var(--weight-bold);
  font-size: 24px;
  margin-bottom: 0.5em;
}

.full-container {
  position: relative;
}

.banner {
  display: flex;
  position: absolute;
  top: 25%;
  background-color: rgba(242, 254, 238, 0.6);
  width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30vw;
  width: 70vw;
  background-color: var(--color-green);
  color: var(--color-black);
  height: 95vh;
  padding: var(--padding-default);
}

.form-container p:first-child {
  margin-top: var(--margin-under);
}

h1 {
  color: var(--color-gunmetal);
}

p,
button {
  margin-bottom: var(--margin-under);
}

.form-container {
  background-color: var(--color-beige);
  margin: 0 calc(var(--padding-default) * -1);
  padding: 0  var(--padding-default) var(--padding-default);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-under);
  box-shadow: 2px 2px 7px var(--color-gunmetal),
              2px -1px 1px gainsboro;
  font-size: 13px;
  font-weight: var(--weight-light);
  line-height: 1.5rem;
}

.form-container input {
  width: 27ch;
  margin-bottom: calc(var(--margin-under) * 0.5);
  padding: 2px 5px;
  font-weight: var(--weight-regular);
  border-radius: 5px;
  border: 1px solid var(--color-gunmetal);
}

.form-container input.error {
  border: 1px solid red;
}

.form-container .password-info {
  margin-bottom: calc(var(--margin-under) * -1);
}

.right > .text {
  font-weight: var(--weight-medium);
  line-height: 1.2em;
}

.info {
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid var(--color-gunmetal);
  background-color: var(--color-black);
  color: var(--color-beige);
  transition: 0.1s;
}

.names-info,
.contact-info,
.password-info {
  display: flex;
  column-gap: calc(var(--padding-default) * 2);
}

.info {
  position: relative;
}

.required-icon::after {
  content: "*";
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: red;
}

footer {
  background-color: var(--color-black);
  height: 5vh;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-beige);
}

a {
  color:var(--color-yellow);
}

.match-text {
  color: red;
  font-size: 0.75em;
  visibility: hidden;
}

.log-in {
  color: var(--color-gunmetal);
}

.log-in:hover {
  color: var(--color-yellow);
}

a:hover {
  color: var(--color-beige);
}

button:hover {
  color: var(--color-black);
  background-color: var(--color-beige);
  transform: translateY(-2px);
}

.form-container input:focus {
  border: 1px solid blue;
  outline: 1px solid blue;
  box-shadow: 1px 2px 2px silver;
}

.form-container input.error:focus {
  border: 1px solid red;
  outline: 1px solid red;
  box-shadow: 1px 2px 2px silver;
}

button:active {
  color: var(--color-beige);
  background-color: var(--color-black);
  transform: translateY(1px);
}

.log-in:active,
a:active {
  color: var(--color-beige);
}