@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2"),
       url("./fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./fonts/poppins-medium-webfont.woff2") format("woff2"),
       url("./fonts/poppins-medium-webfont.woff2") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("./fonts/poppins-bold-webfont.woff2") format("woff2"),
       url("./fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("./fonts/poppins-light-webfont.woff2") format("woff2"),
       url("./fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/poppins-mediumitalic-webfont.woff2") format("woff2"),
       url("./fonts/poppins-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("./fonts/poppins-light-webfont.woff2") format("woff2"),
       url("./fonts/poppins-bold-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  background: url(./images/background.jpg);
  --color-yellow: #FFFF82;
  --color-beige: #F2FEEE;
  --color-green: #B3D69A;
  --color-black: #202C39;
  --color-gunmetal: #283845;

  --weight-regular: 400;
  --weight-light: 300;
  --weight-medium: 500;
  --weight-bold: 700;
}

.full-container {
  display: flex;
}

.right {
  display: flex;
}

.left {
  margin-left: 20%;
  background-color: var(--color-green);
  color: var(--color-black);
  float: left;
  height: 95vh;
  padding: 3em;
}

h1 {
  color: var(--color-beige);
}

p {
  margin-bottom: 2em;
}

form {
  background-color: var(--color-beige);
  padding: 0%;
}

footer {
  background-color: var(--color-black);
  height: 5vh;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-beige)
}

a {
  color:var(--color-green);
}